{% extends "base.html" %}
{% block content %}

<div class="container mt-5" style="max-width:420px;">
  <div class="card shadow p-4">
    <h4 class="mb-3 text-center">Reset Password</h4>

    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Email / Phone / ASP Code</label>
        <input type="text" name="identifier" class="form-control" required>
      </div>

      <button class="btn btn-warning w-100">Send OTP</button>
    </form>
  </div>
</div>

{% endblock %}
